$backgroundColor : #282828;
$colorPolice : #F9F8F8;
$colorBorder : #393D3F;
$white : #141414;
$backgroundButton : #393D3F;

* {
    transition: 0.5s;
}
#backgroundBody {
    background-color: $white;
}
#backgroundContainer {
    background-color: $backgroundColor;
    border-radius: 3%;
    margin-top: 50px;
    color: $colorPolice;
}
#divLogin {
    height: 500px;
}
#Tlogin {
    padding-top: 25px;
    color: $colorPolice;
}
#Login {
    background-color: $backgroundColor;
    border: none;
    border-bottom: 2px solid $colorBorder;
    color: $colorPolice;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 55px;
    margin-top: 50px;
}
#Login:focus {
    outline-color: $colorBorder;
}
#motDePasse {
    background-color: $backgroundColor;
    border: none;
    border-bottom: 2px solid $colorBorder;
    color: $colorPolice;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 55px;
    margin-top: 25px;
}
#motDePasse:focus {
    outline-color: $colorBorder;
}
#buttonLogin {
    background-color: $backgroundColor;
    border: $colorBorder;
    color: $colorPolice;
    padding: 10px 25px 10px 25px;
    margin-top: 25px;
}
#buttonLogin:focus {
    outline-color: $colorBorder;
}
#buttonLogin:active {
    background-color: $backgroundColor;
    position: relative;
}
#pLogin {
    margin-top: 50px;
    display: block;
    color: $colorPolice;
}